@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: "Roboto";
}

:root {
    --text-color: black;
}

#page {
    min-height: 100vh;
    height: 100%;
}

#header {
    height: 3em;
    width: 80%;
    margin: 0 auto;
    display: flex;
    text-align: center;
    border-bottom: 2px rgba(128, 128, 128, 0.116) solid;
}

#meno-stranky {
    flex-grow: 3;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--text-color);
    font-size: 2em;
    text-transform: uppercase;
    pointer-events: none;
    white-space: nowrap;
}

#nav {
    height: 100%;
    flex-grow: 7;
}

#nav-list {
    display: flex;
    height: 100%;
    list-style: none;
    justify-content: space-around;
    align-items: center;
}

.nav-item {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: relative;
    font-size: 1.3em;
}

.nav-button {
    display: flex;
    align-items: center;
    background: none;
    border: none;
    color: var(--text-color);
    text-decoration: none;
    font-size: 1em;
    cursor: pointer;
    height: 100%;
    text-transform: uppercase;
}

.nav-button:hover {
    text-decoration: underline;
}

.dropdown {
    display: none;
    list-style: none;
    position: absolute;
    top: 100%;
    border: 1px rgba(128, 128, 128, 0.097) solid;
    background-color: rgba(204, 193, 193, 0.268);
    width: 100%;
    animation-name: dropdownslide;
    animation-duration: 0.2s;
}

@keyframes dropdownslide {
    0% {
        transform: scale(0.6);
        top: 0%;
    }
    100% {
        transform: scale(1);
        top: 100%;
    }
}

.dropdown-item {
    width: 100%;
    height: 100%;
    text-transform: uppercase;
}

.dropdown-item:hover {
    letter-spacing: 2px;
}

.dropdown-item-text {
    display: block;
    width: 100%;
    padding: 10px 0;
    text-decoration: none;
    color: var(--text-color);
    transition: all 0.3s ease 0s;
    backdrop-filter: blur(1px);
}

.nav-button:hover + .dropdown, .dropdown:hover{
    display: block;
}

#cart {
    width: 100%;
    background-image: url("kosik.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    transform: scale(0.7);
    transition: all 0.3s;
}

#cart:hover {
    filter: drop-shadow(0px -1px 2px rgba(0, 255, 255, 0.672));
    transform: scale(0.8);
}

#main {
    height: 100%;
    width: 80%;
    margin: 0 auto;
    min-height: 100vh;
    padding: 10px;
}

#produkty {
    display: flex;
    flex-wrap: nowrap;
    height: 100%
}

.produkt {
    border: 1px rgba(128, 128, 128, 0.336) solid;
    width: 30vh;
    height: 35vh;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.produkt-obrazok {
    background-image: url("zuvak.png");
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

@media only screen and (max-width: 600px) {
    .ni {
        display: none;
    }
    #header {
        width: 100%;
    }
}